&nbsp;<form method="post">
        <input type="hidden" name="next" value="{{ next }}" />&nbsp;<div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="images.jpeg"
                         id="icon" alt="User Icon" height="292" width="575"/>
                    <h1>MY ACCOUNT</h1>
                </div>

                <!-- Login Form -->
                <button type="submit" class="btn btn-primary">submit</button>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <p><a href="password_reset_form.html">Lost password?</a></p>
                </div>


            </div>


            <input type="submit" value="login" /></form>

    