vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Apr 2020 23:28:28 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-KF9ST7V\\ramar
vti_modifiedby:SR|DESKTOP-KF9ST7V\\ramar
vti_timecreated:TR|08 Jul 2019 16:49:31 -0000
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|28 Apr 2020 22:59:05 -0000
vti_cacheddtm:TX|28 Apr 2020 23:28:28 -0000
vti_filesize:IR|2420
vti_cachedlinkinfo:VX|S|{{\\ book.pic.url\\ }} H|{%\\ url\\ 'book_delete'\\ pk=book.id\\ %} H|{%\\ url\\ 'book_update'\\ pk=book.id\\ %} H|{%\\ url\\ 'request_issue'\\ pk=book.id\\ %} H|{%\\ url\\ 'rating_update'\\ pk=rr.id\\ %} S|{{\\ r.student.pic.url\\ }} H|{%\\ url\\ 'student_detail'\\ pk=r.student.id\\ %}\\ 
vti_cachedsvcrellinks:VX|NSUS|templates/catalog/{{\\ book.pic.url\\ }} NHUS|templates/catalog/{%\\ url\\ 'book_delete'\\ pk=book.id\\ %} NHUS|templates/catalog/{%\\ url\\ 'book_update'\\ pk=book.id\\ %} NHUS|templates/catalog/{%\\ url\\ 'request_issue'\\ pk=book.id\\ %} NHUS|templates/catalog/{%\\ url\\ 'rating_update'\\ pk=rr.id\\ %} NSUS|templates/catalog/{{\\ r.student.pic.url\\ }} NHUS|templates/catalog/{%\\ url\\ 'student_detail'\\ pk=r.student.id\\ %}\\ 
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
