vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Apr 2020 07:17:10 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-KF9ST7V\\ramar
vti_modifiedby:SR|DESKTOP-KF9ST7V\\ramar
vti_timecreated:TR|08 Jul 2019 16:49:31 -0000
vti_backlinkinfo:VX|templates/base_generic.html
vti_nexttolasttimemodified:TW|29 Apr 2020 00:54:47 -0000
vti_cacheddtm:TX|29 Apr 2020 07:17:10 -0000
vti_filesize:IR|877
vti_cachedlinkinfo:VX|A|{%\\ url\\ 'search_b'\\ %} H|{{\\ book.get_absolute_url\\ }}
vti_cachedsvcrellinks:VX|NAUS|templates/catalog/{%\\ url\\ 'search_b'\\ %} NHUS|templates/catalog/{{\\ book.get_absolute_url\\ }}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
