vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Apr 2020 08:53:15 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-KF9ST7V\\ramar
vti_modifiedby:SR|DESKTOP-KF9ST7V\\ramar
vti_timecreated:TR|08 Jul 2019 16:49:31 -0000
vti_backlinkinfo:VX|templates/base_generic.html templates/catalog/customer_list.html
vti_nexttolasttimemodified:TW|29 Apr 2020 01:00:31 -0000
vti_cacheddtm:TX|29 Apr 2020 08:53:15 -0000
vti_filesize:IR|1918
vti_cachedlinkinfo:VX|S|{{\\ student.pic.url\\ }} H|{%\\ url\\ 'student_delete'\\ pk=student.id\\ %} H|{%\\ url\\ 'student_update'\\ pk=student.id\\ %} S|{{\\ book.book.pic.url\\ }} H|{{\\ book.book.get_absolute_url\\ }} H|{%\\ url\\ 'ret'\\ pk=book.id\\ %}
vti_cachedsvcrellinks:VX|NSUS|templates/catalog/{{\\ student.pic.url\\ }} NHUS|templates/catalog/{%\\ url\\ 'student_delete'\\ pk=student.id\\ %} NHUS|templates/catalog/{%\\ url\\ 'student_update'\\ pk=student.id\\ %} NSUS|templates/catalog/{{\\ book.book.pic.url\\ }} NHUS|templates/catalog/{{\\ book.book.get_absolute_url\\ }} NHUS|templates/catalog/{%\\ url\\ 'ret'\\ pk=book.id\\ %}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
