vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Apr 2020 08:15:43 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DESKTOP-KF9ST7V\\ramar
vti_modifiedby:SR|DESKTOP-KF9ST7V\\ramar
vti_timecreated:TR|08 Jul 2019 16:49:31 -0000
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|29 Apr 2020 08:07:14 -0000
vti_title:SR|XML Tutorial
vti_cacheddtm:TX|29 Apr 2020 08:15:43 -0000
vti_filesize:IR|5703
vti_cachedtitle:SR|XML Tutorial
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|Q|https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css S|https://code.jquery.com/jquery-3.3.1.slim.min.js S|https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js S|https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js Q|https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css Q|{%\\ static\\ 'css/styles.css'\\ %} S|../../../Desktop/78918926_2621672297919385_493720045591986176_o.jpg H|index.html H|catalog/cd&dv_list.html H|index.html H|catalog/customer_detail.html H|catalog/cd&dv_form.html H|catalog/customer_list.html H|catalog/result.html H|registration/password_reset_form.html H|registration/logged_out.html H|registration/login.html H|registration/login.html
vti_cachedsvcrellinks:VX|NQSS|https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css NSSS|https://code.jquery.com/jquery-3.3.1.slim.min.js NSSS|https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js NSSS|https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js NQSS|https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css NQUS|templates/{%\\ static\\ 'css/styles.css'\\ %} NSUS|file:///C:/Users/ramar/Desktop/78918926_2621672297919385_493720045591986176_o.jpg FHUS|templates/index.html FHUS|templates/catalog/cd&dv_list.html FHUS|templates/index.html FHUS|templates/catalog/customer_detail.html FHUS|templates/catalog/cd&dv_form.html FHUS|templates/catalog/customer_list.html FHUS|templates/catalog/result.html FHUS|templates/registration/password_reset_form.html FHUS|templates/registration/logged_out.html FHUS|templates/registration/login.html FHUS|templates/registration/login.html
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
