
    <head>
	<style type="text/css">
.auto-style1 {
	text-align: center;
}
.auto-style2 {
	font-size: x-large;
}
</style>
	</head>

    <div class="container bg bg-white">
            <H1 class="auto-style1">
               <span class="auto-style2"><strong>WELCOME </strong></span>
			   <strong>
			   <br style="background-image: url('../media/profile_image/055xwFs-joker-dark-knight-wallpaper.jpg')" class="auto-style2">
                </strong><span class="auto-style2"><strong>Browse Our Library for cd & dvd</strong></span>
            </H1>
    </div>
    </center>
	<form method="post">
		<input height="264" name="Image1" type="image" width="493">
		<object id="media1" height="200" type="video/x-ms-wmv" width="200">
			<param name="filename" value="VID-20180920-WA0000.mp4">
		</object>
	</form>

